@import "./scss/functions";
@import "./scss/variables";
@import "./scss/variables-dark";

body {
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
  background-image: url("./assets/img/1817015-struttura-bianca-pulita-parete-gratuito-foto.jpg");
  a.navbar-brand,
  h1,
  footer > p {
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
  }
}

@import "./scss/bootstrap.scss";
